# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
#
core-backend
core-database
legacy-bridge-manage
touchbistro-manage-database
provisioning-service
health-clinic
cloud-server
cloud-server-frontend
ordering-ooa-service
ordering-demo-frontend
ordering-gateways-frontend
ordering-deliveroo-service
partners-config-service
partners-etl-service
touchbistro-node-legacy-cloud
touchbistro-orchestration-partner
touchbistro-user-profile-service
venue-admin-frontend
mokta


# vim
*.swp
*.swo
*.swn
.DS_Store
dotnet-depot/.DS_Store
services.txt
tb
